@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  /* overflow-x: hidden; */
}

header {
    margin: 0 2rem 0 7rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  
  #left-header > form {
    font-size: 1.5rem;
    font-weight: 500;
    color: #383C40;
    background-color: #ffffff;
    align-items: center;
  }
  
  #right-header {
    display: flex;
    align-items: center;
  }
  
  #right-header>button,
  #right-header>div,
  #right-header>img {
    margin: 0 .5rem;
  }
  
  #right-header>button {
    padding: .7rem;
    font-size: .5rem;
    color: #ffffff;
    background-color: #0E6DFF;
    border: none;
    border-radius: .3rem;
  }
  
  #right-header>button:hover {
    opacity: .8;
    cursor: pointer;
  }
  
  .header-icon {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
  }
  
  .header-icon>a>svg {
    display: flex;
    align-self: center;
    color: #383C40;
  }
  
  .header-icon>img {
    border-radius: 50%;
  }

body {
  background: rgba(237, 239, 241, 0.75);
  backdrop-filter: blur(10rem);
  z-index: -2;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#current {
  color: #1EA1F2;
}

.back {
  background: #111217;
  opacity: 0.8;
  filter: blur(10rem);
  width: 30rem;
  height: 10rem;
  top: 20rem;
  left: 30rem;
  z-index: -1;
  position: absolute;

}

.back-blue {
  background: #1EA1F2;
  position: absolute;
  opacity: .8;
  filter: blur(3rem);
  z-index: -1;
  width: 7rem;
  height: 7rem;
}

#side-bar {
    background: #ffffff;
    width: 5rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .side-icons {
    margin-top: 1.75rem;
  }
  
  .side-icons>a>svg {
    color: #383C40;
  }
  
  .side-icons>a>svg:hover {
    color: #1EA1F2;
  }


/*--------- ROOT VARIABLES ----------*/
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #3d4161;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-1: 0.8rem;
    --border-radius-1: 1.2rem;
    
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    
    --box-shadow: 0 2rem 3rem var(--color-light);
    }
    

/*  Css Reset*/
*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body > div {
    margin: 0 2rem 0 7rem;
}

/* .container {
    padding: 100px;
    max-width: 1560px;
    margin:auto;
} */

.top {
    height: 90px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.top_right {
    justify-content: right;
}
form.nosubmit {
    border: none;
    padding: 0;
  }
  
  input.nosubmit {
    width: 440px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

.social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    
}

.social-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap:1rem;
    margin-top: 1.5rem;
}


.social-img {
    width: 48px;
    height: 48px;
}

img{
    display: block;
    width: 100%;
}
.text-muted {
    color: var(--color-info-dark);
}

.social-1 {
    padding: 0 1.5rem;
    background: #ffffff;
    width: 210px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    
}

h5 {
    padding: 0 50px; 
}

.followers {
    padding: 0px;
    width:15px;
}

.likes {
    padding: 0px;
    width:15px;
}

.flag {
    padding: 0px;
    width:15px;
}
.stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
}

.stats-1 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.stats-1 > div {    
    display: flex;
    margin: 25px 25px;
     
}

.stats-1 > h2 {    
    display: flex;
    margin: 10px 25px;; 
    font-size: 35px;    
}

.stats-1 > h6 {    
    display: flex;
    margin: 10px 25px;
    font-size: 14px;
    color: #9ea281;
     
}

.stats-1 > div > img {
    margin-right: 20px;
}

.visual {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;

}

.performance {
    background-color: white;
    border-radius: 10px;
    border: 1px #fff solid;
    padding: 20px;
    margin: 10px;
}


.analytics {
    background-color:white;
    border-radius: 10px;
    border: 1px #fff solid;
    padding: 20px;
    padding-left:10px;
    margin: 10px;

}

#upcoming_post {
    padding: 30px 20px;
}

.upcoming {
    height: 200px;
    padding:20px;
}

#present {
    padding: 0 20px 0 20px;
}

#see_all {
    padding: 100px 20px 20px 140px;
    justify-content: center;
}

/*---------PERFORMANCE CHART----------------*/
